#header {
    text-align: center;
}

#header>img {
    width: 1520px;
    height: 300px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    margin: 5px;
    margin-bottom: 0%;
    text-align: center;
}


.card>img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
   
}

.search{
    margin: auto;
    width: 20%;
   
    padding: 10px;
}